<div id="hero">
    <!-- <div class="heroImage">
        <img src="/images/vehicles/classic2.jpg" alt="classic car">
    </div> -->

    <h1>
        <%- messages() %>
    </h1>

    <div class="heroText">
        <h1>Welcome to CSE Motors</h1>
        <div class="dmc">
            <h2>DMC Delorean</h2>
            <ul>
                <li>3 Cup</li>
                <li>Superman doors</li>
                <li>Fuzzy dice!</li>
            </ul>
            <a href="#" aria-label="placeholder">Own Today</a>
        </div>
    </div>
</div>

<div id="secondSection">
    <div class="upgradesAndReviews">
        <div class="upgradesContainer">
            <h2>Delorean Upgrades</h2>
            <div>
                <span class="upgradeImageCon"><img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor"><a href="#"
                        aria-label="placeholder">Flux Capacitor</a></span>
                <span class="upgradeImageCon"><img src="/images/upgrades/flame.jpg" alt="Flame Decals"><a href="#"
                        aria-label="placeholder">Flame Decals</a></span>
                <span class="upgradeImageCon"><img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers"><a
                        href="#" aria-label="placeholder">Bumper Stickers</a></span>
                <span class="upgradeImageCon"><img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps"><a href="#"
                        aria-label="placeholder">Hub Caps</a></span>
            </div>
        </div>

        <div class="reviews">
            <h2>Delorean Reviews</h2>
            <ul>
                <li>"So fast it's almost like travelling in time."(4/5)</li>
                <li>"Coolest ride on the road."(4/5)</li>
                <li>"I'm feeling McFly"(5/5)</li>
                <li>"The most futurisitic ride of our day."(4.5/5)</li>
                <li>"80's livin and I love it!"(5/5)</li>
            </ul>
        </div>
    </div>
</div>